<h1 class="text-center">写真一覧</h1>
	<div class="container">
    	<h2 class="text-center">写真<br>
    		<% @article .each do |article| %>
    		<%= attachment_image_tag @article, :photo, :fill, 100, 100, format: 'jpeg' %>
    	</h2>
    </div>
