<h1 class="text-center">本当に退会しますか？</h1>
  <div class="container">
    <%= link_to "マイページへ戻る",   user_end_user_path(current_end_user.id)	, class:"btn btn-default " %>
    <%= link_to"退会",  end_user_user_path(current_end_user.id) ,method: :delete, class:"btn btn-danger " %>
  </div>
