<div class="container">
	<div class="row">
    	<div class="col-xs-11">
			<h1 class="text-center">本当に退会しますか？</h1>
				<div class="user_button">
			    	<div class="btn-group" role="group">
			        	<button type="button" class="btn btn-default center-block btn-lg">
	    					<%= link_to "マイページへ戻る",   user_end_user_path(current_user.id) %>
			        	</button>
			        	<button type="button" class="btn btn-default center-block btn-lg">
			          		<%= link_to"退会",  user_end_user_path(current_user.id) ,method: :delete %>
			        	</button>
		  			</div>
  				</div>
  		</div>
 	</div>
</div>
