<div class="container">
	<div class="row">
    	<div class="col-xs-11">
			<h1 class="text-center">退会手続きが完了しました。ありがとうございました。</h1>

				<div class="top_go_button">
					<button type="button" class="btn btn-default btn-lg active">
				 	<%= link_to"TOPへ戻る",  user_continents_path %>
				 	</button>
				</div>
		</div>
	</div>
</div>
