<h1 class="text-center">カテゴリ編集</h1>

	<%= form_for(@category,url: admin_category_path) do |f| %>

	<h3 class="text-center">アイコン</h3>
    	<div class="icon">
   		 <%= f.attachment_field :icon %>
   		 </div>

   	<h3 class="text-center">説明<br>
    	<%= f.text_field :explanation %></h3>

    	 <%= f.submit "登録",:class=>"btn" %>
  <% end %>

  <style>
.btn{
	color: #2196F3;
	border: 1px solid green;
	border-radius: 5px;
	background-color:white;
	padding: 20px;
	text-align: center;
	width: 150px;
	margin:0 auto;
   }
.icon{
	margin:0 auto;
}
</style>
