<h1 class="text-center">カテゴリ追加</h1>
	<div class="container">
		<%= form_for(@category,url: admin_categorys_path) do |f| %>


			<table class= "table table-bordered">
			        <tr>
			            <th style="text-align:center;">アイコン</th>
			                <td align="center"><%= f.attachment_field :icon %>
			            </tr>

			        <tr>
			            <th style="text-align:center;">説明</th>
			                <td align="center"><%= f.text_field :explanation %></td>
			        </tr>
			    </table>

      		<%= f.submit "登録",:class=>"create_btn" %>
  		<% end %>
  	</div>

