<h1 class="text-center">カテゴリ詳細</h1>
	<div class="container">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th class="col-xs-6">アイコン</th>
					<th class="col-xs-6">説明</th>
		　		</tr>
	    	</thead>

	    	<tbody>
	      			<tr>
	        			<td align="center"><%= attachment_image_tag @category, :icon, :fill, 100, 100, format: 'jpeg' %></td>
		    			<td align="center">
		    				<div class="text_size"><%= @category.explanation %></div>
		    			</td>
	        		</tr>
        	</tbody>
    	</table>

    	<div class="category_show_button">
    		<button type="button" class="btn btn-default center-block btn-lg ">
    			<%= link_to"一覧に行く",  admin_categorys_path(@category) %>
    		</button>
    	</div>
	</div>




