// Place all the styles related to the admin/categorys controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




.text_size{
	font-size: 80px;
}
.all_button{
	margin-bottom: 30px;
}

.col-xs-6  {
text-align: center;
}

.error_message{
display: inline-block;
font-size: 25px;
width: 100%;
color: red;
}