// Place all the styles related to the admin/countrys controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.country_photo{
	margin:0 auto;
}

.acountries_all_button{
    margin-bottom: 30px;
}

.countries_all_button{
    margin-bottom: 30px;
}