// Place all the styles related to the admin/countrys controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.country_photo{
	margin:0 auto;
}

.acountries_all_button{
    margin-bottom: 30px;
}

.countries_all_button{
    margin-bottom: 30px;
}
.create_btn_country{
  color: #2196F3;
  border: 1px solid #C0C0C0;
  border-radius: 1%;
  background-color:white;
  padding: 1%;
  text-align: center;
  width: 20%;
  margin-bottom: 5%;
 margin-left: 40%;
 margin-right: 50%;
}
