// Place all the styles related to the admin/countrys controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.create_btn{
	color: #2196F3;
	border: 1px solid #C0C0C0;
	border-radius: 5px;
	background-color:white;
	padding: 20px;
	text-align: center;
	width: 150px;
	margin-left: 500px;
	margin-bottom: 50px;
   }


.edit_button{
	margin-bottom: 30px;
}

.all_button{
	margin-bottom: 30px;
}

