// Place all the styles related to the admin/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user_index_table{
    margin-bottom: 50px;
}

.admin_user_show_button{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
 }