<div class="container">
	<div class="row">
        <div class="col-xs-11">
			<div class ="about_text">
				<p class="main1">「WAKUWAKU」にようこそ！</p>
					<p class="main2">「WAKUWAKU」は旅行スケジュール作成サイトです。<p>
						<p class="main3">旅行行く前にスケジュールを書くのもいいですし<br>
		                   旅行に行った後に思い出として記事を残すこともできます！<br><br>

						<p class="main4">1 会員登録</p>
						<p class="main3">『スケジュール作成・いいね機能・コメント機能・フォロー機能』<br>が使えるようになります。<br><br></p>

						<p class="main4">2スケジュール作成</p><br>
							<p class="main3">旅行記では、まず「スケジュール」を作成します。<br>スケジュールには旅行した国や滞在期間などを書いてください。<br>
							このサイトでは1つの国に1つのスケジュールを作成できるようになっているので、<br>
							続けて２カ国行く場合は2つの記事を書いてください。<br><br></p>

							<p class="main4">3記事作成</p><br>
							<p class="main3">記事は写真を投稿すると記事詳細ページに行く作りになっています。<br>
							移動などは、表示されるだけで、<br>写真をつけた場合は、記事として見なされます。<br>
							自分自身が体験した・体験した記事を沢山投稿してください<br><br><br></p>

							<p class="main5">イイね機能・コメント機能</p>
								<p class="main3">はスケジュールに対して行うことができます。<br><br>

							<p class="main5">フォロー</p><p class="main3">はユーザに対して行うことができます。<br><br></p>

							<p class="main3">「イイね・コメント・フォロー」はマイページにて確認することができます。<br><br><br></p>


							<p class="main4">みんなの記事を参考にして
							素敵な旅のスケジュールを作成してみてください！！</p>
			</div>
		</div>
	</div>
</div>

