<div class="container">

		<% @continents.each do |continent| %>
			<%= link_to(user_continent_path(continent.id)) do %>
				<div class="container">
					<div class="continent_name">
						<%=  continent.name %>
					</div>
					<div class="continent_photo">
						<%= attachment_image_tag continent, :photo, :fill, 1100, 200, format: 'jpeg' %>
					</div>
				</div>

			<% end %>
		<% end %>


	</div>

<style>
.continent_name{
	text-align: center;
	font-size: 50px;
}

</style>