<div class="container">
	<div class="row">
        <div class="col-xs-11">
        	<div class="continents_index">
        		<div class="row">
					<% @continents.each do |continent| %>
						<%= link_to(user_continent_path(continent.id)) do %>
						<div class="col-xs-4">
								<div class="continent_name">
									<%=  continent.name %>
								</div>
								<div class="continent_photo">
									<%= attachment_image_tag continent, :photo, :fill, 350, 350, format: 'jpeg' %>
								</div>
							</div>
						<% end %>
					<% end %>
				</div>
			</div>

			<form method= "post">
				<p class="text_clocck">現在の世界の時刻です。</p>
					<blockquote>
						<table class= "table1 table table-bordered">
							<tr>
								<th class="country_name">オークランド(NZ)</th>
								<td><input id="nz" name="nz" size=8></td>
							</tr>

							<tr>
								<th class="country_name">ロンドン</th>
								<td><input id="uk" name="london" size=8></td>
							</tr>

							<tr>
								<th class="country_name">東京</th>
								<td><input  id="jp" name="tokyo" size=8></td>
							</tr>

							<tr>
								<th class="country_name">インド</th>
								<td><input  id="ind" name="india" size=8></td>
							</tr>

							<tr>
								<th class="country_name">ブラジル</th>
								<td><input  id="br" name="brazil" size=8></td>
							</tr>

							<tr>
								<th class="country_name">グアム</th>
								<td><input id="gu" name="gamu" size=8></td>
							</tr>

							<tr>
								<th class="country_name">アメリカ</th>
								<td><input id="us" name="amerika" size=8></td>
							</tr>

							<tr>
								<th class="country_name">オーストラリア</th>
								<td><input id="os" name="ostraria" size=8></td>
							</tr>
						</table>
					</blockquote>
			</form>
		</div>
	</div>
</div>



<script>

tz_nz = 13 * 60;
tz_uk = 0;
tz_jp = 9 * 60;
tz_in = 5 * 60;
tz_br = -3 * 60;
tz_ha = -1 * 60;
tz_us = -6 * 60;
tz_os = 1 * 60;

var nz, uk, jp;

function update_watch() {
	now = new Date();
	nz = nowat(now, tz_nz)
	uk = nowat(now, tz_uk)
	jp = nowat(now, tz_jp)
	br = nowat(now, tz_br)
	gu = nowat(now, tz_ha)
	us = nowat(now, tz_us)
	os = nowat(now, tz_os)
	ind  = nowat(now, tz_in)

	console.log(document.forms[0].elements[0]);
	$('#nz').val(nz);
	$('#uk').val(uk);
	$('#jp').val(jp);
	$('#ind').val(ind);
	$('#br').val(br);
	$('#gu').val(gu);
	$('#us').val(us);
	$('#os').val(os);

	setTimeout('update_watch()', 999);
}

function nowat(now, tz) {
	var hour, min, sec;
	var t = new Date();
	t.setTime(now.getTime() + (now.getTimezoneOffset() + tz) * 60 * 1000);
	hour = t.getHours();
	min = t.getMinutes();
	sec = t.getSeconds();
	if (hour < 10) {
		hour = "0" + hour;
	}
	if (min < 10) {
		min = "0" + min;
	}
	if (sec < 10) {
		sec = "0" + sec;
	}
	return hour + ":" + min + ":" + sec;
}
update_watch();

</script>
