<h1 class="text-center">国一覧</h1>
	<div class="container">
		<div class="name">
			<%=  @continent.name %>
		</div>

		<% @countrys.each do |country| %>

			<%= link_to( user_country_path(country.id)) do %>
				<div class="container">
					<div class="country_name">
						<%=   country.name %>
					</div>

					<div class="country_photo">
						<%= attachment_image_tag country, :photo, :fill, 200, 200, format: 'jpeg' %>
					</div>
				</div>
			<% end %>
		<% end %>
	</div>



