/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
.col-xs-1  {
text-align: center;
}

.col-xs-2  {
text-align: center;
}

.col-xs-3  {
text-align: center;
}

.col-xs-4{
text-align: center;
}

.col-xs-5  {
text-align: center;
}

.col-xs-6  {
text-align: center;
}

.country_table{
    margin-top: 30px;
}

.li{
  display: inline-block;
  font-size: 25px;
  width: 25%;
}

.sample{
	width: 50%;
}

.main_text{
  font-size:80px;
  text-align: center;
}

.main_sing_in{
  font-size:80px;
  text-align: center;
}

.admin_header{
background-color: #FFFF77;
}

.user_header{
background-color: #FFFF77;
}
.container-fluid {
 background-color: #000000	;
}

.footer-copyright{
  background-color:#CCCCCC;
}

.box_explanation {
  width : 1130px ;
  height :180px ;
  font-weight: bold;
  border: solid 1px #000000;
  float: left;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 30px;
  margin-left: 0px;
  color: red;
  font-size: 25px;
}

.room_btn{
  color: #2196F3;
  border: 1px solid #C0C0C0;
  border-radius: 5px;
  background-color:white;
  padding: 20px;
  text-align: center;
  width: 150px;
  margin-bottom: 50px;
  margin-top: 10px;
}

.create_btn1{
  color: #2196F3;
  border: 1px solid #C0C0C0;
  border-radius: 5px;
  background-color:white;
  padding: 20px;
  text-align: center;
  width: 150px;
  margin-left: 500px;
  margin-bottom: 50px;
}

.create_btn_admin_sing {
  color: #2196F3;
  border: 1px solid #C0C0C0;
  border-radius: 5px;
  background-color:white;
  padding: 10px;
  text-align: center;
  width: 150px;
  margin-left: 0px;
  margin-bottom: 50px;
}

.create_btn_user_sing{
  color: #2196F3;
  border: 1px solid #C0C0C0;
  border-radius: 5px;
  background-color:white;
  padding: 20px;
  text-align: center;
  width: 150px;
  margin-left: 0px;
  margin-bottom: 50px;
}

.create_btn{
  color: #2196F3;
  border: 1px solid #C0C0C0;
  border-radius: 5px;
  background-color:white;
  padding: 20px;
  text-align: center;
  width: 150px;
  margin-left: 500px;
  margin-bottom: 50px;
}

.error_message{
  display: inline-block;
  font-size: 25px;
  width: 100%;
  color: red;
}

.header_admin{
  display: inline-block;
  font-size: 25px;
  width: 24%;
}

.user_button{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
 }
.video{
    width: 100%;
    height:100%;
    object-fit: cover;
    margin-top: 0px;
    margin-bottom: 0px;
  }
.video-size{
    width: 100%;
    height:100%;
    margin-top: 0px;
    margin-top: 0px;
    margin-bottom: 0px;

  }
.profile{
    width : 180px ;
    height : 230px ;
    font-weight: bold;
    border: solid 10px #000000;
    text-align: center;
    color: #FF0066;
    padding-top: 10px;
    padding-left: 5px;
    }
.schedule_rank{
  width : 180px ;
    height : 550px ;
    font-weight: bold;
    border: solid 10px red;
    text-align: center;
    color: #FF0066;
    padding-top: 10px;
    padding-left: 5px;
}
.user_rank{
  width : 180px ;
    height : 550px ;
    font-weight: bold;
    border: solid 10px yellow;
    text-align: center;
    color: #FF0066;
    padding-top: 10px;
    padding-left: 5px;
}


.rank{
  font-size: 20px;
  color: #0000FF;
}
.rank_comment{
  font-size: 15px;
  color: red;
}
.country_photo{
  margin-bottom: 0px;
  margin-top: 0px;
}
.sideber .photo{
  border-radius: 50%;
}
.schedule_rank{
  text-align: center
}
.slider{
    padding-left: 3px;
  }

.photo_main{
  border: 1px solid #ddd;
  width: 1450px;
  height: 300px;
  margin: 20px auto 0;
  transition-duration: 0.5s;
}
.photo_main img{
  width: 100%;
  cursor: pointer;
}
.photo_main:hover{
  box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
  transform: translateY(-10px);
  transition-duration: 0.5s;
}
