<h1 class="text-center">ユーザ一覧</h1>
	<div class="container">
  		<table class="table table-bordered">
    		<thead>
     			 <tr>
     			   <th class="col-xs-3">ID</th>
     			   <th class="col-xs-6">ニックネーム</th>
    			  </tr>
    		</thead>
   			 <tbody>
    			<% @users.each do |user| %>
	    		    <tr>
	      			 	<td align="center">
		   		  	  		<%= link_to user.id,admin_user_path(user.id) %>
	      				</td>
	       				</td>
	       			 	<td align="center">
	       			   		<%= user.nickname%>
	       			 	</td>
	  			    </tr>
    			<% end %>
    		</tbody>
  		</table>

  		<div class="text-center">
    		<%= paginate @users%>
    	</div>

	</div>