<h1>User::Schedules#index</h1>
<p>Find me in app/views/user/schedules/index.html.erb</p>


 <table class="table table-bordered">
        <thead>
          <tr>
            <th style="text-align:center;">id</th>
            <th style="text-align:center;">国</th>
            <th style="text-align:center;">タイトル</th>
          </tr>
        </thead>
        <tbody>
        <% @schedule.each do |schedule| %>
          <tr>
            <td align="center"> <%=schedule.id%></td>
            <td align="center"> <%=schedule.con%></td>
            <td align="center"> <%=schedule.title%></td>
          <% end %>
          </tr>
        </tbody>
      </table>
