<div class="container">
    <div class="row">
        <div class="col-xs-11">
            <h1 class="text-center">写真一覧</h1>
      		    <% @articles_by_date.each do |key, articles| %>
                    <% articles.sort_by!{|a| a.start_time}.each do |article| %>
                        <%=link_to user_schedule_article_path(@schedule.id,article.id) do%>
      	   			       <%= attachment_image_tag article, :photo, :fill, 250, 250, format: 'jpeg' %>
                        <% end %>
                    <% end %>
                <% end %>
      		  <button type="button" class="btn btn-info btn-lg btn-block active photo_button">
      			<%= link_to"スケジュールに戻る",user_schedule_path %>
            </button>
        </div>
    </div>
</div>


