
<div>
  <h4 class="sub-title">通知</h4>
  <%# binding.pry %>
  <% notifications = current_user.passive_notifications.where(checked: false)%>
  <% if notifications.exists? %>
    <div class="users-index">
      <%= render notifications %>
    </div>
  <% else %>
    <p>通知はありません</p>
  <% end %>
</div>