// Place all the styles related to the user/end_users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


 .country_table{
  margin-top: 20px;
 }
 .follow_button{
 	margin-top: 10px;
 }

 .dm_button{
 	margin-top: 10px;
  margin-bottom: 10px !important;
 }

.top_go_button{
	text-align: center;
	margin-top: 30px;
}